[colors]
ansi = [
  "{{ themes[theme_name].ansi.black }}",    #Black
  "{{ themes[theme_name].ansi.red }}",      #Red
  "{{ themes[theme_name].ansi.green }}",    #Green
  "{{ themes[theme_name].ansi.yellow }}",   #Yellow
  "{{ themes[theme_name].ansi.blue }}",     #Blue
  "{{ themes[theme_name].ansi.purple }}",   #Purple
  "{{ themes[theme_name].ansi.cyan }}",     #Cyan
  "{{ themes[theme_name].ansi.white }}",    #White
]

brights = [
  "{{ themes[theme_name].brights.black }}",    #Black
  "{{ themes[theme_name].brights.red }}",      #Red
  "{{ themes[theme_name].brights.green }}",    #Green
  "{{ themes[theme_name].brights.yellow }}",   #Yellow
  "{{ themes[theme_name].brights.blue }}",     #Blue
  "{{ themes[theme_name].brights.purple }}",   #Purple
  "{{ themes[theme_name].brights.cyan }}",     #Cyan
  "{{ themes[theme_name].brights.white }}",    #White
]

# foreground = "#DBD3CA"
# background = "#252629"

# cursor_bg = "#C76363"
# cursor_border = "#C76363"
# cursor_fg = "#DBD3CA"

# selection_bg = "#314F52"
# selection_fg = "#DBD3CA"

foreground = "{{ themes[theme_name].background }}"
background = "{{ themes[theme_name].foreground }}"
cursor_bg = "{{ themes[theme_name].cursor }}"
# cursor_fg = "#64410c"

# cursor_border = "#fff4b3"


# # selection_bg = "rgba(248, 219, 200, 0.25)"
# selection_bg = "rgba(181, 255, 233, 0.25)"
# # selection_fg = "#252629"

# quick_select_label_bg.Color =  "#6E7271" 
# quick_select_label_fg.Color =  "#E3FFF9"

# quick_select_match_bg.Color =  "F8DBC8"
# quick_select_match_fg.Color =  "#252629"

# split = "#2F2D2E"

# copy_mode_active_highlight_bg = { Color = "#FF5D62" }
# copy_mode_active_highlight_fg = { Color = "#221A02" }

